Dictionary
---
Dictionary is an unordered mutable collection with key access. This data structure is useful when we need to map unique keys to values. For example, we can store GPA for each student. There full name of each student is an unique key and GPA is a value.

Создать словарь можно с помощью его конструктора dict().

In [1]:
d = dict()
d

{}

We can initialize it with pairs key-value. For example:

In [8]:
d = dict(Иванов_Иван_Иванович=8.9, Петров_Пётр_Петрович=7.6)
d

{'Иванов_Иван_Иванович': 8.9, 'Петров_Пётр_Петрович': 7.6}

Also a list of pairs (key, values) can be passed to constructor. Например:

In [9]:
d = dict([('Иванов Иван Иванович', 8.9), ('Петров Пётр Петрович', 7.6)])
d

{'Иванов Иван Иванович': 8.9, 'Петров Пётр Петрович': 7.6}

You can also create a dictionary using {} literal.

In [11]:
d = {}
d

{}

In [12]:
d = {'Иванов Иван Иванович': 8.9, 'Петров Пётр Петрович': 7.6}
d

{'Иванов Иван Иванович': 8.9, 'Петров Пётр Петрович': 7.6}

dict.fromkeys() method, creates and returns a dictionary. It accepts sequence of keys and a value, and for each key sets this value. If value is not specified by default it is None.

In [16]:
lst = [1, 2, 3, 4]
d = dict.fromkeys(lst)
d

{1: None, 2: None, 3: None, 4: None}

In [18]:
d = dict.fromkeys(lst, 0)
d

{1: 0, 2: 0, 3: 0, 4: 0}

There one more way to create a dictionary - dict generator. It is very similar to list generator.

In [22]:
d = {a : a * 2 for a in range(5)}
d

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

You can access the contents of a dictionary using [] operator. (Same as list, but takes keys instead of indices)

In [9]:
d = dict([('Иванов Иван Иванович', 8.9), ('Петров Пётр Петрович', 7.6)])
d['Иванов Иван Иванович']

8.9

You cannot access the value by non-existent key - ValueError will be raised:

In [2]:
d['Васильев Василий Васильевич']

KeyError: 'Васильев Василий Васильевич'

But you can set the value to a non-existent key, so the new pair key-value will be added.

In [10]:
d['Васильев Василий Васильевич'] = 9.5
d

{'Иванов Иван Иванович': 8.9,
 'Петров Пётр Петрович': 7.6,
 'Васильев Василий Васильевич': 9.5}

If you set the value to a key that is already in the dictionary, the value will be overwritten.

In [11]:
d['Иванов Иван Иванович'] = 5.5
d

{'Иванов Иван Иванович': 5.5,
 'Петров Пётр Петрович': 7.6,
 'Васильев Василий Васильевич': 9.5}

Dict methods
---

.get(x, d) - access the dictionary by key x. (Similar to [], but if the dict doesn't contain key x, value d will be returned instead of raising ValueError. d = None by default.)

In [14]:
print(d.get('Максимов Максим Максимович'))

None

In [16]:
d.get('Максимов Максим Максимович', 10)

10

In [15]:
d.get('Иванов Иван Иванович')

5.5

.items() returns a list of pairs (key, value).

In [17]:
d.items()

dict_items([('Иванов Иван Иванович', 5.5), ('Петров Пётр Петрович', 7.6), ('Васильев Василий Васильевич', 9.5)])

.keys() returns a list of keys.

In [18]:
d.keys()

dict_keys(['Иванов Иван Иванович', 'Петров Пётр Петрович', 'Васильев Василий Васильевич'])

.values() returns a list of values.

In [19]:
d.values()

dict_values([5.5, 7.6, 9.5])

.pop(x, d) similar to .get(x, d) but also deletes key x.

In [20]:
d.pop('Иванов Иван Иванович')

5.5

In [21]:
d # As you can see, the pair (Иванов Иван Иванович : 5.5) was deleted

{'Петров Пётр Петрович': 7.6, 'Васильев Василий Васильевич': 9.5}

Метод .popitem() deletes and returns a pair (key, value). Dictionaries are unordered, so you cannot predict which pair will be deleted. Raises KeyError if the dictionary is empty.

In [22]:
d.popitem()

('Васильев Василий Васильевич', 9.5)

In [23]:
d

{'Петров Пётр Петрович': 7.6}

In [24]:
d.popitem()

('Петров Пётр Петрович', 7.6)

In [25]:
d

{}

In [26]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

.setdefault(x, d) returns a value by key x. If x does not exist, creates a new key x with d value.

In [27]:
d.setdefault('Иванов Иван Иванович', 10)

10

In [28]:
d

{'Иванов Иван Иванович': 10}

.update(other) adds pairs from collection other. Existent keys are overwritten. None always returned.

In [31]:
d.update([('Иванов Иван Иванович', 8.9), ('Петров Пётр Петрович', 7.6)])
d

{'Иванов Иван Иванович': 8.9, 'Петров Пётр Петрович': 7.6}

.clear() clears the dictionary.

In [33]:
d.clear()
d

{}

You can iterate over a dictionary using __for__ loop.

In [2]:
table = {1 : "Ymir", 2 : "Eren", 3 : "Bertold", 4 : "Annie"}
for key in table:
    print(key, '\t', table[key])

1 	 Ymir
2 	 Eren
3 	 Bertold
4 	 Annie

Keys are not always ordered in the way we want to, so if we want to iterate through the keys in ascending order, we can use sorted() function. It accepts an iterable and returns a sorted list. You can define a function for sort using key= parameter.

In [4]:
table = dict()
table[5] = "Ymir"
table[10] = "Eren"
table[1] = "Annie"
table[8] = "Bertold"
print(table)

{5: 'Ymir', 10: 'Eren', 1: 'Annie', 8: 'Bertold'}

In [5]:
for key in sorted(table):
    print(key, '\t', table[key])

1 	 Annie
5 	 Ymir
8 	 Bertold
10 	 Eren